@import url(
'https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800;900&display=swap'
);



.login-page{


min-height:100vh;


display:flex;

align-items:center;

justify-content:center;


font-family:Poppins,sans-serif;


background:


linear-gradient(

135deg,

#020617,

#111827,

#1f2937

);


overflow:hidden;


position:relative;


}






.login-glow{


position:absolute;


border-radius:50%;


filter:blur(120px);


animation:
floatGlow 8s infinite alternate;


}




.login-glow.one{


width:500px;

height:500px;


background:#d4af37;


top:-200px;

left:-150px;


opacity:.25;


}




.login-glow.two{


width:450px;

height:450px;


background:#2563eb;


bottom:-150px;

right:-120px;


opacity:.25;


}



@keyframes floatGlow{


from{

transform:translateY(0)
scale(1);

}


to{


transform:

translateY(80px)

scale(1.3);


}


}







.login-card{


width:420px;


padding:45px;


border-radius:40px;


background:

rgba(255,255,255,.12);


backdrop-filter:blur(35px);


border:

1px solid rgba(255,255,255,.2);


box-shadow:


0 40px 100px rgba(0,0,0,.5);


animation:

cardEnter 1s ease;


color:white;


}




@keyframes cardEnter{


from{


opacity:0;


transform:


translateY(80px)

scale(.8);


}


to{


opacity:1;


transform:none;


}



}






.brand{


text-align:center;


margin-bottom:35px;


}




.brand h1{


font-size:50px;


font-weight:900;


margin:0;


}




.brand span{


color:#d4af37;


display:block;


}



.brand p{


color:#cbd5e1;


}







.input-box{


display:flex;


align-items:center;


gap:15px;


background:white;


padding:15px 20px;


border-radius:20px;


margin-bottom:20px;


transition:.4s;


}




.input-box:hover{


transform:

translateX(10px);


}




.input-box svg{


color:#d4af37;


font-size:20px;


}




.input-box input{


border:none;


outline:none;


width:100%;


font-size:16px;


}






.eye{


border:none;


background:none;


cursor:pointer;


color:#111827;


font-size:18px;


}







.login-options{


display:flex;


justify-content:space-between;


font-size:14px;


margin-bottom:25px;


}



.login-options span{


color:#d4af37;


cursor:pointer;


}





.login-btn{


width:100%;


padding:18px;


border:none;


border-radius:50px;


background:


linear-gradient(

135deg,

#d4af37,

#fbbf24

);


font-size:18px;


font-weight:800;


display:flex;


align-items:center;


justify-content:center;


gap:15px;


cursor:pointer;


transition:.5s;


}



.login-btn:hover{


transform:

translateY(-8px);


box-shadow:


0 25px 60px rgba(212,175,55,.4);


}







.error{


background:#ef4444;


padding:15px;


border-radius:15px;


text-align:center;


}




.register{


text-align:center;


margin-top:25px;


color:#cbd5e1;


}




.register span{


color:#d4af37;


cursor:pointer;


font-weight:bold;


}





@media(max-width:500px){


.login-card{


width:90%;


padding:30px;


}



}