.admin-analytics{


background:#f8fafc;

min-height:100vh;

font-family:Poppins,sans-serif;

padding-bottom:70px;


}






.analytics-header{


padding:70px;

background:

linear-gradient(

135deg,

#111827,

#d4af37

);


color:white;


}



.analytics-header h1{


font-size:55px;


}









.analytics-cards{


width:90%;

margin:-40px auto 40px;

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;


}





.analytics-cards div{


background:white;

padding:35px;

border-radius:30px;

text-align:center;

box-shadow:

0 20px 40px rgba(0,0,0,.1);

transition:.3s;


}



.analytics-cards div:hover{


transform:translateY(-10px);


}





.analytics-cards svg{


font-size:45px;

color:#d4af37;


}








.analytics-buttons{


width:90%;

margin:auto;

display:flex;

gap:20px;


}





.analytics-buttons button{


background:#111827;

color:white;

border:none;

padding:15px 35px;

border-radius:40px;

display:flex;

gap:10px;

align-items:center;

cursor:pointer;


}










.charts{


width:90%;

margin:50px auto;

display:grid;

grid-template-columns:repeat(2,1fr);

gap:30px;


}






.chart-card{


background:white;

padding:30px;

border-radius:30px;

box-shadow:

0 15px 40px rgba(0,0,0,.08);


}



.chart-card h2{


margin-bottom:20px;


}








@media(max-width:900px){



.analytics-cards,

.charts{


grid-template-columns:1fr;


}



.analytics-header h1{


font-size:35px;

}


}