.admin-orders{

background:#f8fafc;

min-height:100vh;

font-family:Poppins,sans-serif;

padding-bottom:60px;

}





.orders-header{


padding:60px;

background:

linear-gradient(
135deg,
#111827,
#d4af37
);


color:white;


}





.orders-header h1{

font-size:55px;

}




.orders-header p{

font-size:18px;

}






.order-stats{


width:90%;

margin:-40px auto 40px;


display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;


}




.order-stat{


background:white;

padding:30px;

border-radius:25px;

text-align:center;

box-shadow:

0 20px 40px rgba(0,0,0,.08);


transition:.3s;


}




.order-stat:hover{

transform:translateY(-10px);

}



.order-stat svg{

font-size:45px;

color:#d4af37;


}





.order-stat h2{

font-size:40px;

}









.order-tools{


width:90%;

margin:auto;

display:flex;

justify-content:space-between;

gap:20px;

}




.search-box{


background:white;

padding:15px 25px;

border-radius:40px;

display:flex;

gap:15px;

align-items:center;

flex:1;

}




.search-box input{


border:none;

outline:none;

width:100%;


}







select{


padding:15px 25px;

border-radius:30px;

border:none;

}









.orders-table-card{


width:90%;

margin:40px auto;

background:white;

padding:30px;

border-radius:30px;

overflow:auto;


}







table{


width:100%;

border-collapse:collapse;

}





th{


background:#111827;

color:white;

padding:18px;


}




td{


padding:18px;

border-bottom:1px solid #eee;

text-align:center;


}







.status{


border-radius:30px;

padding:8px 15px;

font-weight:bold;


}







.Pending{

background:#fff3cd;

}



.Processing{

background:#cce5ff;

}



.Completed{

background:#d4edda;

}









button{


border:none;

cursor:pointer;

padding:10px;

margin:5px;

border-radius:50%;


}



.view{

background:#d4af37;

}



.delete{

background:#ef4444;

color:white;

}








.order-modal{


position:fixed;

inset:0;

background:rgba(0,0,0,.6);

display:flex;

align-items:center;

justify-content:center;


}







.modal-box{


background:white;

padding:40px;

border-radius:30px;

width:400px;


}







.contact-buttons{


display:flex;

gap:10px;

margin:20px 0;


}



.contact-buttons a{


background:#111827;

color:white;

padding:12px;

border-radius:20px;

text-decoration:none;


}






.close{


background:#d4af37;

padding:12px 30px;

border-radius:30px;

}





@media(max-width:900px){


.order-stats{

grid-template-columns:1fr;

}



.orders-header h1{

font-size:35px;

}


}

.order-services{

display:flex;

flex-wrap:wrap;

gap:8px;

justify-content:center;

}


.order-services span,
.modal-services span{


background:#d4af37;

color:#111827;

padding:6px 12px;

border-radius:20px;

font-size:13px;

font-weight:600;


}




.modal-services{


display:flex;

flex-wrap:wrap;

gap:10px;

margin:15px 0;


}




.modal-box p{


display:flex;

justify-content:space-between;

gap:20px;

padding:8px;

border-bottom:1px solid #eee;


}